<?xml version="1.0" standalone="no" ?>
<aquarium>
    <fishes>
        <number_of_fishes>1000</number_of_fishes>
        <fish>
            <translational_motion>
                <initial_translational_velocity>
                    200
                </initial_translational_velocity>
            </translational_motion>
            <harmonic_motion>
                <amplitude>50</amplitude>
                <period>2</period>
            </harmonic_motion>
            <texture>
                <width_to_height_ratio>0.609384521633</width_to_height_ratio>
                <width>30</width>
            </texture>


        </fish>
    </fishes>
    <display>
        <window>
            <dimensions>
                <width>720</width>
                <height>720</height>
            </dimensions>
            <position>
                <x>100</x>
                <y>50</y>
            </position>
            <name>Aquarium</name>
            <fullscreen>no</fullscreen>
            <resizable>yes</resizable>
        </window>
        <renderer>
            <accelerated>yes</accelerated>
        </renderer>
        <graphics>
            <paths>
                <ordinary_fish>graphics/pink_fish.png</ordinary_fish>
                <background>graphics/background.png</background>
            </paths>
        </graphics>
    </display>
</aquarium>
